*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.delivery{
    width: 100%;
    min-height: 100vh;
    background-image: url(images/blank\ user\ background.png);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;

}
.driver{
    width: 100%;
    min-height: 100vh;
    background-image: url(images/blank\ driver\ background.png);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;


}
.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
}
nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 400;
}
.login-btn{
    text-decoration: none;
    color: #333;
    margin-right: 15px;
    font-weight: 400;
}
.btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #333;
    background-image: linear-gradient(45deg, #FFBF00, #FFBF00);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}
.content{
    margin-top: 10%;
    max-width: 600px;
}
.content2{
    margin-top: 1%;
    margin-left: 10%;
    max-width: 600px;
}
.content3{
    margin-top: 8%;
    margin-left: 0%;
    max-width: 600px;
}
.content4{
    margin-top: 6%;
    margin-left: 0%;
    max-width: 600px;
}
.content5{
    margin-top: 5%;
    margin-left: 0%;
    max-width: 600px;
}
.content6{
    margin-top: 6%;
    margin-left: 0%;
    max-width: 600px;
}
.content7{
    margin-top: 3%;
    margin-left: 0%;
    max-width: 600px;
}
.content8{
    margin-top: 3%;
    margin-left: 0%;
    max-width: 600px;
}
.content9{
    margin-top: 1%;
    margin-left: 10%;
    max-width: 600px;
}
.content10{
    margin-top: 8%;
    margin-left: 0%;
    max-width: 600px;
}
.content11{
    margin-top: 6%;
    margin-left: 0%;
    max-width: 600px;
}
.content12{
    margin-top: 5%;
    margin-left: 0%;
    max-width: 600px;
}
.content13{
    margin-top: 6%;
    margin-left: 0%;
    max-width: 600px;
}
.content14{
    margin-top: 3%;
    margin-left: 0%;
    max-width: 600px;
}
.content15{
    margin-top: 3%;
    margin-left: 0%;
    max-width: 600px;
}
.content16{
    margin-top: 3%;
    margin-left: 0%;
    max-width: 600px;
}
.content h1{
    font-size: 50px;
    color: #333;
}
.content h2{
    font-size: 5px;
    color: #333;
}
.content p{
    margin: 20px 0px 30px;
    color: #333;
    animation-delay: 0.5s;
}
.content g{
    margin-top: 10%;
    margin: 30px 0px 30px;
    color: #333;
    animation-delay: 0.5s;
}
.content .btn{
    padding: 15px 80px;
    font-size: 16px;
    animation-delay: 1s;
}
.btn:hover{
    border-top-right-radius: 30px;
}
.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}